.App {
  text-align: center;
}
.span{
  color: #048556;
  font-weight: bolder;
}
.span2{
  color: rgb(230, 115, 8);
  font-weight: bolder;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

table.table {
  margin-left:auto; 
  margin-right:auto;
}


h1{
  font-family : "Bigelow Rules";
  font-size : 42px;
  color : black;
}
h2 {
  font-family : "Rajdhani";
  font-weight: "Light" 300;
  color : black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.coronaBanner {
  display: block;
  background-color: white;
  text-align: center;
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.6em;
}

.coronaBanner__content {
  display: inline-block;
  text-align: left;
}

.coronaBanner__websiteLink {
  display: block;
}
.coronaBanner__websiteLinkImg {
  border: 0;
}

.coronaBanner__hotlineLink,
.coronaBanner__whatsappLink {
  display: block;
  text-decoration: none;
  color: #e95211;
}
  .coronaBanner__hotlineLink:hover,
  .coronaBanner__whatsappLink:hover {
    text-decoration: underline;
  }
.coronaBanner__hotlineLink {
  font-weight: bold;
}

